body{
	background-color:#000
}
#gamecontainer {
	width:798px;
	height:498px;
	border: 1px solid black;
}
#startscene {
	width:798px;
	height:498px;
	background: url(images/common/bg.jpg);
}
#singleplayer {
	position:absolute;
	width:142px;
	height:30px;
	z-index:1;
	left: 481px;
	top: 162px;
	cursor:pointer;
}
#multiplayer {
	position:absolute;
	width:142px;
	height:30px;
	z-index:1;
	left: 481px;
	top: 216px;
	cursor:pointer;
}
#config {
	position:absolute;
	width:142px;
	height:30px;
	z-index:1;
	left: 481px;
	top: 271px;
	cursor:pointer;
}
#aboutme {
	position:absolute;
	width:142px;
	height:30px;
	z-index:1;
	left: 481px;
	top: 323px;
	cursor:pointer;
}
#checkbullet {
	position:absolute;
	width:20px;
	height:21px;
	background: url(images/common/bullet_d.png);
	z-index:2;
	left: 343px;
	top: 160px;
}
#hero1 {
	position:absolute;
	width:60px;
	height:60px;
	z-index:2;
	left: 141px;
	top: 149px;
	cursor:pointer;
}
#hero2 {
	position:absolute;
	width:60px;
	height:60px;
	z-index:2;
	left: 142px;
	top: 242px;
	cursor:pointer;
}
#hero3 {
	position:absolute;
	width:60px;
	height:60px;
	z-index:2;
	left: 143px;
	top: 339px;
	cursor:pointer;
}
#gamescene {
	width:640px;
	height:530px;
	display:none;
}
#loadingscene {
	position:absolute;
	width:798px;
	height:498px;
	background:rgba(100,100,100,0.7);
	z-index:10;
	left: 10px;
	top: 10px;
    display:none;
}
#progressbar {
	position:absolute;
	width:220px;
	height:44px;
	background: url(images/common/loading.png);
	left: 333px;
	top: 80px;
}
#progresstip {
	position:absolute;
	width:500px;
	height:300px;
	left: 160px;
	top: 120px;
}